{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/stylesheet.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jsScripts.js') }}"></script>
{% endblock %}
{% block body %}
  <div class="Page">
      <div class="adminPage">
          <h1 >{{ message }}</h1>
              <row>
                  <a href="{{ path('app_book_add') }}" class="Button">Add Book</a>
                  <button class="Button" onclick="showAvailableBooksToEdit()">Edit Book</button>
                  <button class="Button" onclick="showAllBooks()">Show All Books</button>
                  <button class="Button" onclick="showAvailableBooksToDelete()">Delete</button>
              </row>
              <br><br>
              <row>

                  <button class="Button" onclick="showAvailableBooks()">Available Books</button>
                  <button class="Button" onclick="showSoldBooks()">Sold Books</button>
                  <button class="Button" onclick="viewCustomers()">ViewCustomers</button>
                  <a href="" class="Button">Refresh</a>
              </row>
              <div class="ajaxContainer" id="outPut">



              </div>
      </div>
    </div>
  </div>
{% endblock %}