{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
<div class="genericsFrom">

    {{ form(form, {'method': 'POST'} ) }}
    {{ form_start(form)}}
    <div CLASS="fromErrors">
        {{ form_errors(form) }}
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
